:root {
  --main-bg-color: #211F1E;
}

.spec-bot
{
    margin-bottom: 1rem !important;
}


.td-table
{
    color: white !important;
    text-align: center;
}

.th-table
{
    color: white !important;
    text-align: center;
}

body
{
   margin-top: -24px !important;
   background-color: var(--main-bg-color) !important;
}

.avatar
{
    width: 30px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -5px;
    border-radius: 50%;
}

.btn-avatar
{
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
}

.pos-avatar
{
    width: 50px;
    margin-right: 60px !important;
    margin-bottom: 17px !important;
}

.dropdown
{
    padding-left: 0 !important;
    padding-right: 40px !important;
}

.head-table-connexion
{
    text-align: center;
    border-top: none !important;
}

.head-table-genre
{
    text-align: center;
    border-top: none !important;
}


.text-white
{
  color: white;
}

.text-red
{
    color: red;
}

.text-small
{
    font-size: 12px;
}

.md-form
{
  position: absolute;
  padding: 20%;
}

/* FLEX BOX */

.conteneur {
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  box-sizing: content-box;
}

.element {
  padding: 3%;
}

.p {
  display: block;
}

input[type=text],input[type=password] {
  width: 200px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus,input[type=password]:focus {
  width: 100%;
}

.searchResult
{
  position: absolute;
  top: 200%;
  left: 5%;
}
